extends ../layouts/main.pug

block content 
    h2 ㅔ모 상세보기
        form(action="/postUpdate" method="post")
            input(type="hidden" name="id")
            textarea(name="contents" placeholder="내용을 입력하세요") 
            button 수정하기
             
        form(action="/postDelete" method="post")
            input(type="hidden" name="id" )
            button(type="submit") 삭제하기

        form(action="/" method="get")
            button(type="submit") 목록으로